html {
  scroll-behavior: smooth;
}
/* #ffccc5 */
body,
p {
  margin: 0;
}

.gradiente {
  /* background-image: linear-gradient(#fef5b0, #f7a580); */
  /* background-color: #ffece9; */
  /* Roxo > roxo mais forte
  background-image: linear-gradient(#fef5b0, #f7a580)); 
  */
  /* f3dadd */
}

.nav-principal {
  height: 10vh;
  margin-bottom: -16px;
}

.nav-logo {
  margin-left: 8vw;
  width: 4.5vw;
  padding: 5px;
  border-radius: 100px;
}

.nav-principal .containerIndex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background: rgba(212, 150, 227, 0.35); */
  background: #d496e3bd;
  height: 10vh;
}

.itens-navegacao {
  margin: 5vw;
  font-family: "Recursive", sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.link-navegacao {
  color: #000;
  margin-left: 10px;
  text-decoration: none;
  padding: 3px;
}

.link-navegacao:hover {
  color: #000;
  margin-left: 10px;
  text-decoration: none;
  padding: 3px;
  /* border-bottom: 2px solid rgb(90, 34, 180); */
  /* border-bottom: 2px solid rgb(159 116 227) amarelo */

  /* rgb(90, 34, 180) */
}

/* =================botao back to the top=============== */

.btn-fixed {
  margin-top: 80vh;
  color: black;
  position: fixed;
  //bottom: 30px;
  right: 30px;
}

/* =================div da apresentacao=============== */

.apresentacao {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 15px;
  height: 90vh;
  background: #f5fffa;
}

.nome {
  font-size: 60px;
  font-family: "Recursive";
  line-height: 1;
}

.nome strong {
  color: #d496e3;
}

.profissao {
  font-size: 40px;
  color: #c772db;
  font-style: italic;
  /* color: #d496e3;
  text-decoration: underline; */
}

.nome-profissao {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background: rgba(212, 150, 227, 0.4); */
  height: 300px;
  width: 600px;
  border-radius: 2%;
}
.fran-foto {
  width: 27%;
  border-radius: 100%;
}

/* =================div das fotos=============== */

.p-portfolio {
  text-align: center;
  color: black;
  font-size: 3rem;
  padding: 20px;
  margin-right: 20px;
  font-family: "Recursive";
  font-size: 50px;
}

.fotos {
  height: 100vh;
  /* background-color: #b976ee; */
  background-color: #d496e380;
  /* background-image: linear-gradient(#e977e6, #ffd0ff); */
}

.lista-fotos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  /* margin-top: 10vh; */
}

.fotos-portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.fotos-portfolio img {
  width: 40vh;
}

/* =================div dos servicos=============== */

.servicos {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* background-color: #fff4f2; */
  background-color: #fffafa;
}

.lista-servicos {
  display: flex;
  flex-direction: column;
}

.servicos .p-servicos {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  font-family: "Recursive";
  padding: 20px;
}

.lista-servicos img {
  width: 50%;
  border-radius: 17px;
}

.lista-servicos .serv1,
.serv2__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 40px;
}

.sobrancelha-pinca,
.sobrancelha-henna {
  height: 300px;
}

.texto-design {
  color: black;
  stroke: #d496e3;
  font-style: ;
  font-family: "Recursive";
  font-size: 1.4rem;
  text-align: right;
  width: 20%;
}

.serv2__container .texto-henna {
  color: black;
  font-family: "Recursive";
  font-size: 1.4rem;
  text-align: left;
  width: 40%;
}

.texto-henna > strong,
.texto-design > strong {
  color: #d496e3;
}

/* =================div do contato=============== */
.lista .lista-contato {
  display: flex;
  justify-content: space-around;
}

.lista {
  width: 300px;
}
.contato {
  /* background-color: #b976ee; */
  background: rgba(212, 150, 227, 0.35);
  display: flex;
  justify-content: space-around;
  height: 40vh;
}

.lista-contato {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 40%;
  list-style-type: none;
  padding-left: 0;
}

.p-contato {
  font-size: 50px;
  font-family: "Recursive";
  text-align: center;
  margin-top: 5vh;
  // margin: 0 25% 16%;
}

.wpp {
  width: 40px;
  border-radius: 15px;
  margin-bottom: 6%;
  opacity: 0.7;
  transition: 1s ease-out;
  margin-left: 30%;
}

.li-wpp,
.li-instagram {
  display: flex;
  flex-direction: column;
}

.wpp:hover {
  transform: scale(1.07);
  height: 41px;
  width: 41px;
  transition: 1s ease-in-out;
  opacity: 1;
}

.numero-wpp {
  font-family: "Recursive";
  font-size: 18px;
}

.instagram {
  width: 40px;
  border-radius: 10px;
  margin-bottom: 6%;
  opacity: 0.7;
  transition: 1s ease;
  margin-left: 30%;
}

.li-instagram {
  width: fit-content;
}

/* .li-instagram::after {
  content: "@donnafran";
} */

.instagram:hover {
  transform: scale(1.1);
  opacity: 1;
  transition: 1s ease-in-out;
}

.nome-instagram {
  font-family: "Recursive";
  font-size: 18px;
}
.contato .mapa {
  height: 100%;
}

/* ---------- mobile ------------- */

/* ---------- button back to top ------------- */

/* ---------- TELA 4K ------------- */

/* ---------- TELA 1024+ ------------- */
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .nome-profissao {
    height: 50vh;
    width: 60vw;
  }

  .nome {
    font-size: 5rem;
  }

  .profissao {
    font-size: 3rem;
  }

  .lista-fotos {
    /* margin-top: 10vh; */
    align-items: center;
  }

  .carousel-inner img {
    height: 480px;
  }

  .servicos .p-servicos {
    font-size: 2.6rem;
  }
}
