@media screen and (min-width: 1440px) and (max-width: 1980px) {
  .itens-navegacao {
    font-size: 1.4rem;
  }

  .nav-logo {
    width: 4vw;
  }

  .nome-profissao {
    height: 60vh;
    width: 60vw;
  }

  .nome {
    font-size: 6rem;
  }
  .profissao {
    font-size: 3.4rem;
  }

  .fran-foto {
    width: 30vw;
    margin-right: 100px;
  }
  /* ---------- portfolio -------------*/

  .p-portfolio {
    margin-top: 10px;
    font-size: 3rem;
  }

  .lista-fotos {
    /* margin-top: 10vh; */
    align-items: center;
  }

  .carousel-inner img {
    height: 500px;
  }

  .servicos .p-servicos {
    font-size: 3rem;
  }

  .serv1 .sobrancelha-pinca,
  .serv2 .sobrancelha-henna {
    height: 350px;
  }

  .texto-design,
  .serv2__container .texto-henna {
    font-size: 1.6rem;
  }

  .contato {
    height: 30vh;
  }

  .contato .p-contato {
    font-size: 3rem;
  }
}
